* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #DEF9C4;
}

.leftMenu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:#50B498;
    padding: 10px;
}

.leftMenu h2{
    padding-top: 20px;
    border-bottom:  1px solid;
}

.leftMenu h2:hover{
    background-color:#41a085;
    cursor: pointer;
    color: whitesmoke;
}

.leftMenu img{
    padding-right: 20px;
}
.grid-c {
    display: grid;
    grid-template-columns: 15% 1fr 1fr;
    grid-template-rows: 150px;
    gap: 20px;
    justify-content: space-between;
}

.addDoc {
    background-color: #9CDBA6;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px;
}

.addStaff {
    background-color: #9CDBA6;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px;
}

.item img{
    padding-top: 20px;
    height: 30px;
}

.item:hover {
    background-color: #7dbd89 ;
    color: whitesmoke;
    cursor: pointer;
}