* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #DEF9C4;
}

.leftMenu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:#50B498;
    padding: 10px;
    grid-row: span 3;
}

.leftMenu h2{
    padding-top: 20px;
    border-bottom:  1px solid;
}

.leftMenu h2:hover{
    background-color:#41a085;
    cursor: pointer;
    color: whitesmoke;
}

.leftMenu img{
    padding-right: 20px;
}

.grid-c{
    display: grid;
    grid-template-columns: 15% 1fr 1fr ;
    grid-template-rows: 40px 1fr 1fr;
    gap: 10px;
}

.add {
    display: flex;
    justify-content: end;
    grid-column: span 2;
}

.hideButton {
    display: none;
    visibility: hidden;
}

.add button{
    height: 40px;
    width: 150px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 50px;
    border: none;
    background-color: #41a085;
    font-weight: bolder;
}

.add button:hover{
    cursor: pointer;
    color: whitesmoke;
    background-color: #388871;
}

.tab{
    grid-column: span 2;
}

.tabHide {
    display: none;
    visibility: hidden;
}

th, tr, td, table{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

table {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

.adding {
    visibility: hidden;
}