
*{
    margin: 0%;
    padding: 0%;
}

.admin{
    display: grid;
    grid-template-columns: 50% 50%;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button{
    background-color: rgb(175, 245, 245);
    border: none;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(154, 238, 238);
}

input{
    height: 50px;
    width: 250px;
    border:none;
    border-bottom: 2px solid black;
    padding-left: 10px;
}

input:focus{
    outline: none;
}
.item{
    padding: 10px;
    text-align: center;
}

h1{
    text-align: center;
}




